*{
    font-family: 'Poppins', sans-serif;
}

body{
    padding: 0;
    margin:0;
    /* display: grid; */
    /* grid-template-columns: 200px auto; */
    height: 100vh;
}

#cajita{
    /* margin: 50px 100px; */
    width: 400px;
    background-color: white;
    border: 1px solid black;
    border-radius: 50px;
}

main{
    min-width: 300px;
    max-width: 800px;
    min-height: 180px;
    max-height: 450px;
    background-color: rgb(224, 224, 224);
    margin: auto;
    margin-top: 200px;
    display: grid;
    grid-template-columns: minmax(50px, 200px) 1fr;
    border-radius: 30px;
}

main ul li{
    list-style-type: none;
}

main ul {
    padding: 20px;
}

.canvasSection {
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opciones{
    display:flex;
    flex-direction: column;
    justify-content: center;
}